body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
  }
  
  .bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("/w3images/coffeehouse.jpg");
    min-height: 75%;
  }
  
  .menu {
    display: none;
  }
  h1, h2, h3, h4 {
	font-family: 'Raleway', sans-serif;
}
h2 {
	font-weight: 400;
	font-size: 38px;
	color: #24aee8;
	text-transform: uppercase;
	position: relative;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-bottom: 5px;
}
h2::after {
	position: absolute;
	content: "";
	/*background: #24aee8;*/
	height: 2px;
	width: 70px;
	bottom: 0;
	margin-left: -35px;
	left: 50%;
}


h3 {
	font-size: 24px;
	font-weight: 400;
	color: #333;
}
h4 {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 400;
	color: #333;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p {
	font-size: 15px;
}
p.intro {
	margin: 12px 0 0;
	line-height: 24px;
}
a {
	color: #8eb640;
}
a:hover, a:focus {
	text-decoration: none;
	color: #222;
}
ul, ol {
	list-style: none;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}
/* Navigation */
.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}
.navbar .navbar-collapse {
	text-align: left;
}
#menu {
	padding: 10px;
	transition: all 0.8s;
}
#menu.navbar-default {
	background-color: rgba(248, 248, 248, 0);
	
	border-color: rgba(231, 231, 231, 0);
}
#menu.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	font-weight: 1000;
	font-size: 18px;
	padding: 5px 0;
	border: 2px solid transparent;
	letter-spacing: 0.5px;
	margin: 0 5px 0px 5px;
	background: #d2b461;
	border-radius: 10px;
	
	
}
#menu.navbar-default .navbar-nav > li > a:hover {
	color: #ab3227;
	
}
.on {
	/*background-color: #262626 !important;*/
	background: url(../img/margen2.jpg)!important ;
	padding: 0 !important;
	padding: 1px 0 !important;
	
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #ab3227 !important;
	
	background-color: transparent;
}
.navbar-toggle {
	border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #d43031;
	border-color: #d43031;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #FFF;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #FFF;
}
.section-title {
	margin-bottom: 20px;
}
.section-title .overlay {
	padding: 60px 0;
	background: rgba(0, 0, 0, 0.7);
}
.section-title p {
	font-size: 22px;
}
.section-title hr {
	margin: 0 auto;
	margin-bottom: 20px;
}
.btn-custom {
	text-transform: uppercase;
	color: #777;
	background-color: transparent;
	border: 2px solid #777;
	padding: 14px 20px;
	margin: 0;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 0.5px;
	border-radius: 0;
	margin-top: 20px;
	transition: all 0.3s;
}
.btn-custom:hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {
	color: #ddd;
	border: 2px solid #d43031;
	background-color: #d43031;
}
/* Header Section */
.intro {
	display: table;
	width: 100%;
	padding: 0;
	/*background: url(../img/img-p-1.JPG) center center no-repeat;*/
	background-color: #e5e5e5;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.intro .overlay {
	background: rgba(153, 118, 118, 0.6);
}
.intro h1 {
	font-family: 'Rochester', cursive;
	color: rgb(104, 218, 233);
	font-size: 10em;
	font-weight: 400;
	margin-top: 0;
}
.intro span {
	color: #a7c44c;
	font-weight: 600;
}
.intro p {
	color: #fff;
	font-size: 24px;
	font-weight: 400;
	margin-top: 150px;
}
header .intro-text {
	font-family: 'Rochester', cursive;
	padding-top: 200px;
	padding-bottom: 50px;
	text-align: center;
}
/* Features Section */
#features {
	padding: 50px 0;
}
#features .features-item {
	margin: 0 20px;
}

#features h3 {
	padding-bottom: 28px;
	color: #24aee8;
}
#features .about-img:before {
	display: block;
	content: '';
	position: absolute;
	top: 8px;
	right: 8px;
	bottom: 8px;
	left: 8px;
	border: 1px solid rgba(255, 255, 255, 0.5);
}
#features p {
	line-height: 24px;
	margin: 15px 0 30px;
}
/* About Section */
#about {
	padding: 30px 0;
	background: #f6f6f6;
}
#about h2::after {
	text-align: center;
}
#about .about-text {
	padding: 0px 0;
}
#about .about-img {
	background: #444 url(../img/img-p-5.jpg) center center no-repeat;
	background-size: cover;
	height: 610px;
	padding-top: 5px;
	padding-left: 20px;
	
    left: 5%;
	top: 30px;
}
#team .about-img {
	background: #444 url(../img/ChefJoel.jpg) center center no-repeat;
	background-size: cover;
	height: 410px;
	padding-top: 10px;
	padding-left: 20px;
	
    left: 5%;
	top: 0px;
}
#about p {
	line-height: 24px;
	margin: 10px 0 0px;
}
#platos{
	background: white
	
}
/* Menu Section */
#restaurant-menu {
	padding: 40px 0 60px 0;
}
#restaurant-menu img {
	width: 300px;
	box-shadow: 15px 0 #ffffff;
}
#restaurant-menu h3 {
	padding: 10px 0;
	text-transform: uppercase;
}
#restaurant-menu .menu-section hr {
	margin: 0 auto;
}
#restaurant-menu .menu-section {
	margin: 0 20px 0px;
}
#restaurant-menu .menu-section-title {
	font-size: 32px;
	display: block;
	font-weight: 400;
	color: #444;
	margin: 20px 0;
	text-align: center;
}
#restaurant-menu .menu-item {
	margin: 15px 0;
	font-size: 18px;
}
#restaurant-menu .menu-item-name {
	font-weight: 400;
	font-size: 20px;
	color: #444;
	margin-bottom: 10px;
}
#restaurant-menu .menu-item-description {
	font-size: 15px;
	width: 85%;
}
#restaurant-menu .menu-item-price {
	float: right;
	font-weight: 400;
	color: #555;
	margin-top: -36px;
}
/* Gallery Section */
#gallery {
	padding: 0;
}
#gallery .gallery-item {
	margin: 0 -15px;
}
/* Team Section */
#team {
	padding: 20px 0;
}
#team h2 {
text-align: center;
color: #24aee8;
}
#team img {
	max-width: 600px;
}
#team .team-img {
	display: inline-block;
	position: relative;
}
/* Contact Section */
#contact {
	padding: 50px 0;
	background: #333;
}
#contact .contact-item p {
	font-size: 15px;
	color: #777;
}
#contact .section-title {
	margin-top: 60px;
	margin-bottom: 40px;
}
#contact form {
	padding: 0;
}
#contact h3 {
	position: relative;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 400;
	color: #aaa;
	padding: 20px 0;
}
#contact h3::after {
	position: absolute;
	content: "";
	background: #d43031;
	height: 2px;
	width: 40px;
	bottom: 0;
	margin-left: -20px;
	left: 50%;
}
#contact .text-danger {
	color: #cc0033;
	text-align: left;
}
label {
	font-size: 12px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	float: left;
}
#contact .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 16px;
	line-height: 1.42857143;
	color: #ccc;
	background-color: rgba(255,255,255,.2);
	background-image: none;
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact .form-control:focus {
	border-color: #999;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
color: #999;
}
.form-control:-moz-placeholder {
color: #999;
}
.form-control::-moz-placeholder {
color: #999;
}
.form-control:-ms-input-placeholder {
color: #999;
}
#contact .contact-item {
	margin: 20px 0 40px 0;
}
#contact .contact-item span {
	font-weight: 400;
	color: #aaa;
	text-transform: uppercase;
	margin-bottom: 6px;
	display: inline-block;
}
/* Footer Section*/
#footer {
	background: #262626;
	padding: 10px 0 0px 0;
}
#footer .social {
	margin-top: -5px;
	text-align: right;
}
#footer .social ul li {
	display: inline-block;
	margin: 0 15px;
}
#footer .social i.fa {
	font-size: 24px;
	padding: 4px;
	color: #888;
	transition: all 0.3s;
}
#footer .social i.fa:hover {
	color: #eee;
}
#footer p {
	font-size: 14px;
	color: #666;
}
#footer a {
	color: #999;
}
#footer a:hover {
	color: #eee;
}
/*--------WPP------*/
.float{
	position:fixed;
	width:57px;
	height:57px;
	bottom:20px;
	left:10px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}
.img-responsive2,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height:100%;
}
.video-container iframe, .video-container object, .video-container embed 
{ position: absolute; top: 0; left: 10%; width: 80%; height: 80%; }
#mo1{
	height:200px;margin-top: -60px;
	left: 0;
	position: absolute;
}
#mo2{
	height:200px;margin-top: -60px;
	position: absolute;
	right: 0;
}
.carta #mo3{
	height:250px;
	margin-top: -100px;
	position: absolute;
	left: 0;
}
.carta #mo4{
	height:250px;
	margin-top: -100px;
	position: absolute;
	right: 0;
}
.carta #mo5{
	height:150px;
	margin-top: -15px;
	position: absolute;
	left: 0;
}
.carta #mo6{
	height:150px;
	margin-top: -15px;
	position: absolute;
	right: 0;
}
.navbar-brand2 {
    
    margin-right: 2rem;
    font-size: 1rem;
    text-decoration: none;
    white-space: nowrap;
	justify-content: center;
	font-family: "Century Gothic";
	color: #085aad;
}
.navbar-brand3 {
   
    font-size: 1rem;
    text-decoration: none;
    white-space: nowrap;
	justify-content: center;
	font-family: "Century Gothic";
	color: #085aad;
}
#team #mo3{
	height:250px;
	margin-top: -110px;
	position: absolute;
	left: 100px;
}
#about #mo3{
	color: #24aee8;
}
#team #mo4{
	height:250px;
	margin-top: -110px;
	position: absolute;
	right: 100px;
}

.slider #sli{
	width: 100%;height:80vh;
}
.slider #logo{
	position: absolute;
	padding-top: 300px;
	width: 40%;
	left: 0;
	right: 0;
}
.p-chef{
	margin-right: 0;
	margin-left: auto;
	padding-top: 80px;
}
.p-mu{
	margin-right: 57px;
	margin-left: auto;
	padding-top: 50px;
}
.mu-img{
	padding-left: 50px;
}
.her-img{
	padding-right: 50px;
}
.her-text{
	padding-top: 130px;
}
.ga-img{
	padding-left: 50px;
}
.ga-text{
	padding-top: 150px;
}
.bi-text{
	padding-top: 70px;
}
.bi-img{
	padding-top: 30px;
}
.exp-img{
	height: 250px;
}
.m-titulo{
	padding-top: 50px;
}
.pyy5{
	
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.ingles{
	margin-top: -5px;
	width: 40px;height: 20px;
}
.español{
	margin-top: -5px;
	width: 22px;height: 20px;
}
.jltp{
	padding-top: 30px;
}
#sli1{
	width: 100%;
	height: 90vh;
}
@media screen and ( max-width:1000px) {
	#mo1{
		height: 0px;
	}
	#mo2{
		height: 0px;
	}
	.carta #mo3{
		height: 0px;
	}
	.carta #mo4{
		height: 0px;
	}
	.carta #mo5{
		height: 0px;
	}
	.carta #mo6{
		height: 0px;
	}
	#team #mo3{
		height:0px;
	}
	#team #mo4{
		height:0px;
	}
	.slider #sli{
		width: 100%;
		height: 100%;
	}
	#sli1{
		
		width: 100%;
		height: 35vh;
	}
    .navbar-brand2 {
		padding-top: .5125rem;
		padding-bottom: .3125rem;
		margin-right: 1rem;
		font-size: 0.7rem;
		text-decoration: none;
		font-family: "Century Gothic"
		
	}
	.p-chef{
		margin-right: auto;
		margin-left: auto;
		padding-top: 30px;
	}
	.p-mu{
		margin-right: auto;
		margin-left: auto;
		padding-top: 50px;
	}
	.mu-img{
		padding-left: 0px;
	}
	.her-img{
		padding-right: 0px;
	}
	.her-text{
		padding-top: 50px;
	}
	.ga-img{
		padding-left: 0px;
	}
	.ga-text{
		padding-top: 50px;
	}
	.slider #logo{
	position: absolute;
	padding-top: 150px;
	width: 40%;
	left: 0;
	right: 0;}
	#about #mo3{
		padding-bottom: 0;color: #24aee8;
	}
	.bi-text{
		padding-top: 20px;
	}
	.bi-img{
		margin-top: -30px;
	}
	.exp-img{
		height: 150px;
	}
	.img-bi{
		margin-top: -50px;
	}
	.m-titulo{
		padding-top: 20px;
	}
	.p-mu{
		margin-right: auto;
		margin-left: auto;
		padding-top: 0px;
	}
	.her-text{
		padding-top: 0px;
	}
}
	

@media screen and (max-width:380px) {
	.navbar-brand2 {
		padding-top: .5125rem;
		padding-bottom: .3125rem;
		margin-right: 0.5rem;
		font-size: 0.6rem;
		text-decoration: none;
		
	}
	.slider #logo{
		position: absolute;
		padding-top: 120px;
		width: 40%;
		left: 0;
		right: 0;
	}
	#about {
		padding: 10px 0;
		background: #f6f6f6;
	}
	.mu-img{
		margin-top: -40px;
	}
	.museo .w3-section{
		margin-top: 0px !important;
		margin-bottom: 0px !important;
	}
	.español{
		width: 15px;
		height: 15px;
		margin-top: -8px;
	}
	.ingles{
		width: 30px;
    height: 15px;
	margin-top: -8px;
	}
	#footer {
		background: #262626;
		padding: 10px 0 0px 0;
	}
	#restaurant-menu .menu-section {
		margin: 0 20px 0px;
	}
	.pyy5 {
		padding-top: 0px ;
		padding-bottom: 0px ;
	}
	#jt{
		font-size: 30px;
	}
	#ga-ti{
		font-size: 30px;
	}
	.jltp{
		padding-top: 0px;
	}
	#lema{
		font-size: 17px;
	}
}
.dropdown-item{
	font-family: "Century Gothic"
}
h1 { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } 
h3 { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 20px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; }
 p { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 18px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } 
 blockquote { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } 
 pre { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }